body{
    background-color: #878de8;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    max-width: 340px;
    color: white;
    margin: 50px auto;
}

.wrapper{
    background-color: #0e0d2b;
    width: 40%;
    height: 400px;
    max-width: 700px;
    justify-content: center;
    border-radius: 25px;
    margin: 100px auto;
}

.input1{
    width: 50%;
    padding-top: 50px;
    color: white;
    margin-left: 35px;
    font-family: 'Courier New', Courier, monospace;
}

.bill_container{  
    border-radius: 1.4rem;
    display: flex;
    font-size: 20px;
    width: 50%;
    margin-left: 20px;
    padding: 0 0.8rem;
    margin-top: 10px;
    color: white;
}

#totalBill{
    margin-top: 2px;
    margin-left: 3px;
    color: white;
    background: None;
    font-size: 21px;
    border: none;
    outline: none;
    padding: none;
}

.tip_container{
    background: None;   
    border-radius: 1.4rem;
    display: flex;
    font-size: 20px;
    width: 50%;
    margin-left: 20px;
    padding: 0px 5px 5px 5px;
    margin-top: 5px;
    color: white;
}

.input2,.input3{
    padding-top: 20px;
    color: white;
    margin-left: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.input2{
    width: 50%;
}
.input3{
    width: 50%;
}


#tipPercent{
    margin-top:1px;
    margin-left: 3px;
    color: white;
    background: None;
    font-size: 21px;
    border: none;
    outline: none;
    padding: none;
}

#increase{
    margin-top: 5px;
    margin-left: 40px;
    border-radius: 25px;
    background-color: #878de8;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#People{
    margin-top: 5px;
    margin-left: 10px;
}

#decrease{
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #878de8;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.bottom_container{
    background: none;
    margin-top: 70px;
}

.result{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.total{
    color:white;
    background: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-device-width: 900px){
    .wrapper{
        width: 360px;
    }
}
